.sector_agrifood .bg-sector-dark {
    background-color: #126160;
}
.pt-5 {
    padding-top: 3rem!important;
}

.justify-content-center {
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

.section_get-data-form .img-wrapper {
    width: 100%;
}
.pb-5 {
    padding-bottom: 3rem!important;
}
.section_get-data-form .img-wrapper img {
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    width: 100%;
}
.sector_agrifood .text-sector-light {
    color: #aacf8b;
}
.section_get-data-form p {
    font-size: 1.3125rem;
    line-height: 1.9375rem;
    margin-bottom: 4.0625rem;
}
.section_get-data-form form .form-content-wrapper {
    margin-bottom: 4.375rem;
}
.section_get-data-form form .form-content-wrapper ul {
    width: 50%;
}
.section_get-data-form form .form-content-wrapper ul {
    color: #fff;
    width: 100%;
}
main ul:not(.pagination) {
    padding-left: .625rem;
}
.section_get-data-form form .form-content-wrapper ul li {
    font-weight: 700;
}
main ul:not(.pagination) li {
    font-family: montserrat,sans-serif;
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: 500;
    padding-bottom: .75rem;
    padding-left: .75rem;
}
.sector_agrifood .section_get-data-form ul li::marker {
    color: #aacf8b;
}

/* Alternative arrows ▷ 〉 › →］ ↓ ↑ ← ⁂ ］  ﹈ */
main ul:not(.pagination) li::marker {
    content: "›";
    font-family: Arial;
    font-weight: 400;
    padding-right: .5rem;
    font-size: 2rem;
    line-height: 0.05;
}
/* Download symbol using glyphs
<div style="max-width:2rem;font-size:1.4rem;text-align:center;line-height:0.8rem;">↓</div>
<div style="max-width:2rem;font-size:1.6rem;padding-top:0.5rem;text-align:center;">﹈</div>
*/
